.header {
    margin: 0px;
    padding: 0px;
    height: 65px;


}

.navigation-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation-menu li {
    margin: 0 20px
}

.navigation-menu li a {
    color: #00cccc;
    text-decoration: none;
}

.mobile-navigation-menu {
    background-color: #586c74;
    margin-top: 5px;
}

.mobile-navigation-menu li {
    margin-top: 20px;
}

.mobile-navigation-menu li a {
    color: #00cccc;
    text-decoration: none;
}